div.logotext {
  display: flex;
  justify-content: left;
  margin: auto;
  font-size:26px;
  letter-spacing: 7px;
  padding: 15px;
  font-weight: 600;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 15px auto 0.8rem auto;
    width: 70vw;
    max-width: 70%;
    font-size: medium;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
  }
  
  .navbar-links {
    display: flex;
    list-style: none;
    justify-content: right;
    flex-grow: 1;
  }
  
  .navbar-links li {
    padding: 10px 2vw;
    margin: 0;
  }

  .navbar-links li:hover {
    transform: scale(1.05);
  }

  .selected {
    border-bottom: 2px solid;
  }

  .navbar-links a {
    color: #333;
    text-decoration: none;
  }

  @media only screen and (max-width: 768px) {

    div.logotext {
      display: flex;
      justify-content: left;
      margin: auto;
      font-size:26px;
      letter-spacing: 7px;
      padding: 15px;
      font-weight: 600;
    }
    
    .navbar-links {
      display: none;
    };

    .styleMenu {
      display: flex;

    }
  }