/* Default light theme (set in :root) */
:root {
  --background-color: #FEF9F2;
  --text-color: rgba(50, 50, 50, 0.87);
  --link-color: rgba(50, 50, 50, 0.87);  /* Define default link color */
  font-family: "Geologica", sans-serif;
  overflow-y: scroll;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Dark theme */
[data-theme="dark"] {
  --background-color: #1d1d1d;
  --text-color: #f5f5f5;
  --link-color: #f5f5f5;
}

/* Ensure links use the correct theme color */
a {
  color: var(--link-color);
}

#root {
  width: 100%;
  margin: auto;
}

body, html {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Optional: Add transition for smooth theme change */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}
